extends layout.pug 

block content
        section#content
            h2=text
            if hint
                p 
                    i Hint: #{hint}
            a(href=`/cards/${id}/?side=${side}`) #{side}